* {
    overflow: hidden;
    font-family: 'Gudea', sans-serif;
}

body {
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, rgba(29, 224, 153, 0.3), rgba(29, 200, 205, 0.3)), url("../imagens/background.jpg") center top no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
body ::-webkit-input-placeholder {
    color: #4E546D;
}
body .authent {
    display: none;
    background: #35394a;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    width: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 70px;
    top: 200px;
    bottom: 0;
    height: 70px;
    opacity: 0;
}
body .authent p {
    text-align: center;
    color: white;
}
body .success {
    display: none;
    color: #d5d8e2;
}
body .success p {
    font-size: 14px;
}
body p {
    color: #5B5E6F;
    font-size: 10px;
    text-align: left;
}
body .testtwo {
    left: 0px !important;
}
body .test {
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    pointer-events: none;
    top: -100px !important;
    -webkit-transform: rotateX(70deg) scale(0.8) !important;
    transform: rotateX(70deg) scale(0.8) !important;
    opacity: .6 !important;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}
body .login {
    opacity: 1;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    transition-property: opacity,box-shadow,top,left,-webkit-transform;
    transition-property: transform,opacity,box-shadow,top,left;
    transition-property: transform,opacity,box-shadow,top,left,-webkit-transform;
    transition-duration: .5s;
    -webkit-transform-origin: 161px 100%;
    transform-origin: 161px 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    max-width: 300px;
    border-top: 5px solid #128097;
    max-height: 300px;
    position: absolute;
    left: 5%;
    right: 5%;
    margin: auto;
    top: 15%;
    bottom: 15%;
    padding: 50px 20px 30px 20px;
    background: #35394a;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    zoom: 1.4;
}
body .login .validation {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 14px;
    opacity: 0;
}
body .login .disclaimer {
    position: absolute;
    bottom: 20px;
    left: 35px;
    width: 250px;
}
body .login_title {
    color: #82a5ad;
    height: 60px;
    text-align: left;
    font-size: 18px;
    text-align: center;
}
body .login_fields {
    height: 208px;
    /*position: absolute;*/
    left: 0;
}
body .login_fields .icon {
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 8px;
    opacity: .5;
}

body .login_fields input[type='password'] {
    color: #009045 !important;
}
body .login_fields input[type='text'], body .login_fields input[type='password'] {
    color: #afb1be;
    margin-top: -2px;
    background: #32364a;
    left: 0;
    padding: 10px 65px;
    border-top: 2px solid #393d52;
    border-bottom: 2px solid #393d52;
    border-right: none;
    border-left: none;
    outline: none;
    font-family: 'Gudea', sans-serif;
    box-shadow: none;
}
body .login_fields__user, body .login_fields__password {
    position: relative;
}
body .login_fields__submit {
    position: relative;
    top: 35px;
    left: 0;
    width: 91%;
    right: 0;
    margin: auto;
    text-align: center;
}

body .login_fields__message {
    position: relative;
    margin: auto;
    top: 18px;
    text-align: center;
    font-size: 12px;
    color: #ea5757;
}
body .login_fields__submit .forgot {
    font-size: 10px;
    margin-top: 11px;
    text-decoration: underline;
}
body .login_fields__submit .forgot a {
    color: #82a5ad;
}
body .login_fields__submit .forgot a:hover {
    color: #8e8e8e;
}
body .login_fields__submit input {
    border-radius: 50px;
    background: transparent;
    padding: 10px 50px;
    border: 2px solid #128097;
    color: #128097;
    text-transform: uppercase;
    font-size: 11px;
    transition-property: background,color;
    transition-duration: .2s;
}
body .login_fields__submit input:focus {
    box-shadow: none;
    outline: none;
}
body .login_fields__submit input:hover {
    color: white;
    background: #128097;
    cursor: pointer;
    transition-property: background,color;
    transition-duration: .2s;
}

/* Color Schemes */
.love {
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 11px;
    font-weight: normal;
}
.love p {
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.love a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.love img {
    position: relative;
    top: 3px;
    margin: 0px 4px;
    width: 10px;
}

.brand {
    position: absolute;
    left: 20px;
    bottom: 14px;
}
.brand img {
    width: 30px;
}

.hidden {
    display: none;
}

@media all {

    body .login_fields input[type='text'], body .login_fields input[type='password'] {
        width: 300px;
    }
}

@media (max-width: 425px) {

    body .login_fields input[type='text'], body .login_fields input[type='password'] {
        width: 233px;
    }
}

@media (max-width: 375px) {
    body .login_fields input[type='text'], body .login_fields input[type='password'] {
        width: 201px;
    }
}

@media (max-width: 320px) {
    body .login {
        zoom: 1.1;
        top: 8%;
    }
    body .login_fields input[type='text'], body .login_fields input[type='password'] {
        width: 223px;
    }
}

.pointer {
    cursor: pointer;
}