h6.adjust,
h4.adjust {
    margin-bottom: -4px !important;
    margin-left: 10px !important;
}

.qr-code {
    width: 100% !important;
}

.map-frame {
    width: 100%;
    height: 100% !important;
}

.nav-link {
    cursor: pointer;
}

.card-menu {
    margin-top: 30% !important;
}


.card-body.mapa{
    height: 63% !important;
}

.map.mapa{
    height: 97% !important;
}

.label-verde:hover {
    background: #4caf50 !important;
}


.btn .material-icons {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tab-content .tab-pane .td-actions {
    display: block;
}

a.pre-inscrito{
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: #fff !important;
}

a.confirmado {
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    color: #fff !important;
}

th.text-center{
    width: 200px;
}

input[value="Credenciar"] {
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    background: linear-gradient(60deg, #43a047, #66bb6a);
    color: #fff !important;
    cursor: pointer;
    border: 0px solid;
    transition: background 0.5s ease;
    opacity: 0.8;
}

input[value="Credenciar"]:hover {
    opacity: 1;
}

.card.side-menu{
    margin-top: 20%;
}

.table .form-check .form-check-sign {
    top: 0px;
}