h6.adjust,
h4.adjust {
    margin-bottom: -4px !important;
    margin-left: 10px !important;
}

.qr-code {
    width: 100% !important;
}

.map-frame {
    width: 100%;
    height: 100% !important;
}

.nav-link {
    cursor: pointer;
}

.card-menu {
    margin-top: 30% !important;
}


.card-body.mapa{
    height: 63% !important;
}

.map.mapa{
    height: 97% !important;
}

.label-verde:hover {
    background: #4caf50 !important;
}


.btn .material-icons {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.tab-content .tab-pane .td-actions {
    display: block;
}